<div>
    <md-card flex="90">
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="letter in $ctrl.letters" ng-click="$ctrl.redirect('mailboxes.letter', {letterId: letter._id})">
                <img ng-src="{{$ctrl.getAvatar(letter.to)}}" class="md-avatar" alt="{{letter.to}}" />
                <div class="md-list-item-text" layout="row">
                    <h3 flex="20" >{{ letter.to }}</h3>
                    <div flex="5">
                        <!-- Spacer //-->
                    </div>
                    <h4 flex="80" >{{ letter.subject}}</h4>
                </div>
                <md-divider ng-if="$index !== $ctrl.letters.length - 1"></md-divider>
            </md-list-item>
        </md-list>
    </md-card>

    <div>
        <ui-view></ui-view>
    </div>
</div>