<div flex="90">
    <form name="letter">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <md-autocomplete
                    md-input-name="to"
                    required
                    md-floating-label="To"
                    md-items="user in $ctrl.querySearch($ctrl.newLetter.to)"
                    md-item-text="user.email"
                    md-search-text="$ctrl.newLetter.to">
                    <md-item-template>
                        <span md-highlight-text="$ctrl.newLetter.to">{{user.email}}</span>
                    </md-item-template>
                    <div ng-messages="letter.to.$error" role="alert" multiple
                         ng-if="letter.to.$touched">
                        <div ng-message="required" class="md-input-message-animation">This field is required</div>
                    </div>
                </md-autocomplete>

                <md-input-container class="md-icon-float md-block">
                    <label>Subject</label><input name="subject" ng-model="$ctrl.newLetter.subject" type="text" required>
                    <div ng-messages="letter.subject.$error" role="alert">
                        <div ng-message="required" class="md-input-message-animation">This field is required</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Body</label><textarea name="body" ng-model="$ctrl.newLetter.body" rows="10" required></textarea>
                    <div ng-messages="letter.body.$error" role="alert">
                        <div ng-message="required" class="md-input-message-animation">This field is required</div>
                    </div>
                </md-input-container>
            </md-card-title-text>
        </md-card-title>

        <md-card-actions layout="row">
            <md-button class="md-button md-ink-ripple" ng-click="$ctrl.redirect('mailboxes.letters', {mailboxId: $ctrl.mailbox})">
                Cancel
            </md-button>
            <md-button class="md-button md-ink-ripple" ng-click="$ctrl.send({newLetter: $ctrl.newLetter})">
                Send
            </md-button>
        </md-card-actions>
    </md-card>
    </form>
</div>