<div>

    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-media flex="20">
                    <img class="md-media-md card-media" ng-src={{$ctrl.user.avatarUrl}} />
                </md-card-title-media>
                <md-card-title-text flex="80">
                    <div layout="row">
                        <md-input-container flex="50" class="md-icon-float md-block">
                            <label>Full name</label><input ng-model="$ctrl.user.fullName" type="text" ng-disabled="!$ctrl.isEditing" required>
                        </md-input-container>
                        <md-input-container flex="40" class="md-icon-float md-block">
                            <label>Birthday</label><md-datepicker ng-model="$ctrl.user.birthday" ng-disabled="!$ctrl.isEditing" />
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="50" class="md-icon-float md-block">
                            <label>Email</label><input ng-model="$ctrl.user.email" type="text" ng-disabled="!$ctrl.isEditing" required>
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                        <md-input-container flex="25">
                            <label>Gender</label>
                            <md-select name="type" ng-model="$ctrl.user.gender" ng-disabled="!$ctrl.isEditing">
                                <md-option value="M">Male</md-option>
                                <md-option value="F">Female</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-icon-float md-block">
                        <label>Address</label><input ng-model="$ctrl.user.address" type="text" ng-disabled="!$ctrl.isEditing">
                    </md-input-container>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-align="end center">
                <div ng-if="!$ctrl.isEditing">
                    <button class="md-button md-ink-ripple" ng-click="$ctrl.toggleIsEditing()">Edit</button>
                </div>
                <div ng-if="$ctrl.isEditing">
                    <button class="md-button md-ink-ripple" ng-click="$ctrl.handleUpdate()">Save</button>
                    <button class="md-button md-ink-ripple" ng-click="$ctrl.toggleIsEditing()">Cancel</button>
                </div>
                <button class="md-button md-ink-ripple" ng-click="$ctrl.remove({id: $ctrl.user._id})">Remove</button>
            </md-card-actions>
        </md-card>
    </div>

    <div>
        <ui-view></ui-view>
    </div>
</div>